    .btn-white {
        &, &:active, &:visited {
            color: @white;
            text-decoration: none;
        }

        &:hover {
            color: #c4c7cc;
            text-decoration: none;
            border-color : #c4c7cc;
        }

        width : 325px;
        height : 48px;
        line-height : 48px;

        display : inline-block;
        background: transparent;
        border: 2px solid @white;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
        text-transform: uppercase;
    }
    .btn-gray {
        &, &:active, &:visited {
            color: #c4c7cc;
            text-decoration: none;
        }

        &:hover {
            color : #121e35;
            text-decoration : none;
            border-color : #888e9a;
        }
        width : 325px;
        height : 48px;
        line-height : 48px;

        display : inline-block;
        background: transparent;
        border: 2px solid #c4c7cc;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
        text-transform: uppercase;
    }

    .btn-orange {
        border : none;
        border-radius : 3px;
        text-align : center;
        font-weight : bold;
        font-size : 17px;
        text-transform: uppercase;
        
        width : 325px;
        height : 48px;
        line-height : 48px;

        &, &:hover, &:active, &:visited {
            color : #62470b; // @color_fix
            text-decoration: none;
        }

        display : inline-block;
        background: linear-gradient(to bottom, rgba(254,220,36,1) 0%,rgba(253,204,31,1) 24%,rgba(251,141,13,1) 85%,rgba(251,137,13,1) 86%,rgba(250,118,10,1) 88%,rgba(248,93,8,1) 90%,rgba(248,83,6,1) 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedc24', endColorstr='#f85306',GradientType=0 );    
    
        &:hover {
            background: linear-gradient(to bottom, rgba(251,158,18,0.93) 0%,rgba(252,165,20,0.95) 27%,rgba(252,187,26,0.99) 82%,rgba(252,185,26,0.99) 84%,rgba(251,177,22,0.99) 86%,rgba(251,164,17,0.99) 88%,rgba(252,168,17,1) 99%,rgba(252,168,17,0.93) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edfb9e12', endColorstr='#edfca811',GradientType=0 ); /* IE6-9 */
        }

    }