//
// @font-face's declaration here
//
@font-face {
	font-family: 'Direct';
	src: 	url('@{public}fonts/Direct-Regular.eot?#iefix') format('embedded-opentype'),  
			url('@{public}fonts/Direct-Regular.otf')  format('opentype'),
			url('@{public}fonts/Direct-Regular.woff') format('woff'), 
			url('@{public}fonts/Direct-Regular.ttf')  format('truetype'), 
			url('@{public}fonts/Direct-Regular.svg#Direct-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Direct';
	src: 	url('@{public}fonts/Direct-Bold.eot?#iefix') format('embedded-opentype'),  
			url('@{public}fonts/Direct-Bold.otf')  format('opentype'),
			url('@{public}fonts/Direct-Bold.woff') format('woff'), 
			url('@{public}fonts/Direct-Bold.ttf')  format('truetype'), 
			url('@{public}fonts/Direct-Bold.svg#Direct-Bold') format('svg');
	font-weight: normal;
	font-style: bold;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('@{public}fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('@{public}fonts/Comfortaa/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'),
		url('@{public}fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'),
		url('@{public}fonts/Comfortaa/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('@{public}fonts/Comfortaa/Comfortaa-Bold.eot');
	src: url('@{public}fonts/Comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
		url('@{public}fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'),
		url('@{public}fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype'),
		url('@{public}fonts/Comfortaa/Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}