.footer {
	&__upper {
		width : 100%;
		background : #f5f5f5; // @color_fix
	}
	&__logo-wrapper {
		text-align : center;
		padding-top : 30px;
		padding-bottom : 36px;
	}
	&__logo {
		width : 102px;
		height : 59px;
	}
	&__phone-text {
		text-align : center;
		width: 100%;
		font-size: 28px;
		font-weight: bolder;
		color: #FC8210;
		height : 28px;
		line-height : 28px;
		margin-bottom : 12px;
	}
	&__email {
		display : block;
		text-align : center;
		margin-bottom : 35px;
		font-size : 15px;
		&, &:hover, &:active, &:visited {
			color : #006cb7 !important; // @color_fix
			text-decoration: none;
		}
	}
	&__copyright {
		color : #393939; // @color_fix
		font-size : 12px;
		padding-bottom : 10px;
		text-align : center;
	}
	&__full-version-link {
		width : 100%;
		height : 40px;
		background : #fcaf17; // @color_fix
		text-align : center;
		a {
			font-size : 12px;
			line-height : 40px;
			&, &:hover, &:active, &:visited {
				color : @black;
				text-decoration: none;
			}
			&:after {
				content : url("@{public}img/arrow-right.png");
				width : 17px;
				height : 9px;
				padding-left: 8px;
			}
		}
	}
}