.header {
	background : #101c32; // @color_fix
	position : absolute;
    top : 0;
    left : 0;
    right : 0;
    height : 120px;
    z-index : 999;

    @media @media1 { width : @width1; }
    @media @media2 { width : @width2; }
    
    &__wrapper {}
    &__navigation {
    	display : inline-block;
    	position : absolute;
    	left : 20px;
    	bottom : 48px;
    	width : 22px;
    	height : 22px;
    	background : url('@{public}img/menu-icon.png');
        &--toggled {
            background : url('@{public}img/menu-icon.toggled.png');
        }
    }
    &__logo {
    	width : 102px;
    	height : 59px;
    	position : absolute;
    	top : 22px;
    	left : 50%;
    	margin-left : -51px;
    }
    &__phone {
    	display : inline-block;
    	position : absolute;
    	right : 20px;
    	bottom : 48px;
    	width : 26px;
    	height : 26px;
    	background : url('@{public}img/callback.png');
    }
} 

body.index .header:not(.nav-opened) {
    background : transparent;
}