.nav {
	position : absolute;
	top : 120px;
	z-index :999;

    @media @media1 { width : @width1; left : -@width1; }
    @media @media2 { width : @width2; left : -@width2; }

	transition : left .3s ease-in-out;
	&--active {
		left : 0;
		transition : left .12s ease-in;
	}

	&__list {
		padding-top : 20px;
		width : 100%;
		background : #111c33; // @colorfix
	}
	&__link {
		display : block;
		text-transform: uppercase;
		background : #111c33; // @colorfix
		border-top : 1px solid #1a2a4d; // @colorfix

		@media @media1 {
			margin-left : 20px;
			margin-right : 20px;
			padding-left : 10px;
			text-align : left;
			height : 80px;
			line-height : 80px;
			font-size : 20px;
		}

		@media @media2 {
			text-align : center;
			height : 60px;
			line-height : 60px;
			font-size : 15px;
			font-weight : bold;
		}

		&, &:hover, &:active, &:visited {
			color : @white !important;
			text-decoration: none;
		}
	}

	&__overlay {
		position : fixed;
		top : 120px;
		left : 0;
		right : 0;
		bottom : 0;
		background : rgba(0,0,0,.6);
		z-index : -1;
		opacity : 0;
		&--active {
			top : 0;
			opacity : 1;
			z-index : 997;
			transition : opacity .1s ease-in .0s
		}
	}
}