.typography {

    .layout-main {
        padding : 0 20px;
    }

    * {
        font-family : Arial, sans-serif; // general font
    }

    //
    // Заголовки
    //
    h1, .h1 {
        font-size : 30px;
        line-height : 32px;
        font-weight : bold;
        color : #121f37;
        margin : 30px auto;
        text-align : center;
        margin-top :0;
        padding-top : 30px;
    }
    h2, .h2 {
        font-size : 25px;
        line-height : 26px;
        font-weight : bold;
        color : #006cb7;
        margin : 0;
        text-align : left;
    }
    h2+p, .h2+p {
        margin-bottom : 30px;
    }
    p + h2, p +.h2 {
        margin-top : 30px;
    }
    h3, .h3 {
        font-size : 20px;
        font-weight : bold;
        color : #ef3e23;
        margin-bottom: 18px;
        margin-top : 40px;
    }
    h4, .h4 {
        font-size : 15px;
        font-weight : bold;
        color : #006cb7;
        margin-bottom: 18px;
        margin-top : 40px;
    }

    .date {
        font-size : 15px;
        font-weight : bold;
        color : #7f8795;
    }

    //
    // Ссылки
    //
    // a { color : @link-color-main; }
    // a:hover { color : @link-color-main; }
    // a:visited { color : @link-color-main; }
    // a:active { color : @link-color-active; }


    //
    // Абзацы
    //
    p {
        font-size : 15px;
        color : @black;
        line-height : 18px;
        margin-bottom : 24px;
    }

    .simple-slider {
        position : relative;
        margin-left : -20px;
        @media @media1 { width : @width1; }
        @media @media2 { width : @width2; }

        &:after {
            position : absolute;
            display : block;
            @media @media1 { width : @width1; }
            @media @media2 { width : @width2; }
            height: 24px;
            bottom: 10px;
            content : url('@{public}img/simple-slider-icon.png');
            text-align : center;
            z-index : 9;
        }
        &:before {
            position : absolute;
            bottom : 0;
            content : " ";
            @media @media1 { width : @width1; }
            @media @media2 { width : @width2; }
            height : 102px;
            z-index: 8;
            display : block;
            background : url('@{public}img/simple-slider-shadow.png');
        }
    }

    //
    // Списки
    //

    ul {
        list-style : none;
        padding-left : 20px;
        padding-right : 20px;
        li {
            font-size : 15px;
            line-height : 18px;
            position : relative;
            padding-bottom : 16px;
            &:before {
                content : " ";
                width : 6px;
                height : 6px;
                border-radius : 12px;
                background : #006cb7;

                position : absolute;
                left : -17px;
                top : 6px;
            }
        }
    }

    ol {
        list-style : none;
        padding-left : 20px;
        padding-right : 20px;
        counter-reset: section;

        li {
            font-size : 15px;
            line-height : 18px;
            position : relative;
            padding-bottom : 16px;

            &:before {
                position : absolute;
                left : -20px;
                top : 0px;

                font-size : 15px;
                color : @black;
                font-weight : bold;
                text-align : left;
                content: counter(section)".";
                counter-increment: section;
            }
        }
    }
    // Чистый бестилевый список
    ul.clean {
        .clean-ul-list();
    }

    //
    // Таблицы
    //
    table {
        width: 100%;
        margin-bottom : 40px;
        margin-top : 20px;

        thead tr {
            border-bottom : 2px solid #006cb7; // @color-fix
        }
        th {
            font-size : 10px;
            text-transform: uppercase;
            text-align: center;
            padding-top : 12px;
            padding-bottom : 12px;
            color : #7a8288; // @color_fix
            &:first-child {
                color : #006cb7; // @color_fix
            }
        }

        tbody {
            tr {
                height : 60px;
                border-bottom : 1px solid #e6e6e6; // @color_fix
                &:last-child {
                    border-bottom : 2px solid #006cb7; // @color-fix
                }
                td {
                    text-align : center;
                    color : #121f37; // @color_fix;
                    font-size : 15px;
                    line-height : 60px;
                    &:first-child {
                        color : #006cb7; // @color_fix
                    }
                    &:last-child {
                        font-size : 20px;
                        font-weight : bold;
                    }
                }
            }
        }
    }

    //
    // Цитаты
    //
    blockquote {}

    //
    // Сноска
    //
    cite {}

    //
    // Формы
    //
    .btn.white {
        .btn-white();
    }
    .btn.gray {
        .btn-gray();
    }

    .btn-orange {
        .btn-orange();
    }

    .btn-bricks {
        font-size : 0;
    }
    .btn-brick-1 {
        background: url("@{public}img/brick-1-left.png");
        width: 210px;
        height: 120px;
        display: inline-block;
        padding-top : 38px;
        &, &:hover, &:active, &:visited {
            text-decoration: none;
            color : @white !important;
        }
        &.right {
            margin-left : 20px;
            background: url("@{public}img/brick-1-right.png");
        }

        font-size : 20px;
        text-align : center;
        strong {
            font-size : 30px;
            font-weight : bold;
        }
    }
    .btn-brick-2 {
        margin-top : 20px;
        background: url("@{public}img/brick-2.png");
        width: 440px;
        height: 120px;
        display: inline-block;
        padding-top : 38px;

        &, &:hover, &:active, &:visited {
            text-decoration: none;
            color : @white !important;
        }

        font-size : 20px;
        text-align : center;
        strong {
            font-size : 30px;
            font-weight : bold;
        }
    }


    //
    // Typography utilities
    //
    .utility-text-left   { text-align : left !important; }
    .utility-text-center { text-align : center !important;  }
    .utility-text-right  { text-align : right !important; }

    .utility-float-left   { float : left !important; }
    .utility-float-center { float : center !important; }
    .utility-float-right  { float : right !important; }

    .utility-block { display: block !important; }
    .utility-inline { display: inline !important; }
    .utility-inline-block { display: inline-block !important; }

    .strong { font-weight : 700 !important; }
    .underline { text-decoration: underline !important; }
    .semistrong, strong.semi { font-weight : 500 !important; }
    .cursive { font-style : italic !important; }

} //.typography
