//
// Put global variables HERE :
//


//
// Path helper var
//
@public : '/build/';

//
// color vars
//
@black             : #000000;
@white             : #FFFFFF;
@transparent       : transparent;
@link-color-main   : #000;
@link-color-active : #000;
@almostblack       : #191919;


//
// Main font size
//
@main_font_size : 14px;

//
// Adaptive configuration
//

@width1 : 480px;
@width2 : 768px;

// media ranges
@media1 : ~"screen and (max-width: 767px)";
@media2 : ~"screen and (min-width: 768px)";