// helper class
.contact-label {
	color : #6d727f; 
	font-size : 15px;
	line-height : 15px;
	font-weight : 500;
	text-align : center;
	padding-bottom : 5px;
	margin-top : 42px;
}
.contacts {
	.full-width();
	&__title {
		font-weight : bold;
		color : #121f37;
		text-align : center;
		margin-top : 30px;
		@media @media1 { font-size: 30px; }
		@media @media2 { font-size: 20px; }
	}
	&__address-label {
		.contact-label();
	}
	&__address {
		font-weight : bold;
		font-size: 20px;
		line-height : 24px;
		color : #121f37;
		text-align : center;
		margin-bottom : 24px;
	}

	&__phone-label {
		.contact-label();
	}
	&__phone {
		font-weight : bold;
		font-size: 25px;
		line-height : 28px;
		color : #121f37;
		text-align : center;
		margin-bottom : 24px;
	}

	&__email-label {
		.contact-label();
	}
	&__email {
		&, &:hover, &:active, &:visited {
			color : #ef3e23;
			text-decoration: underline;
		}
		font-size: 25px;
		line-height : 25px;
		text-align : center;
		margin-bottom : 5px;
		display : block;
	}

	&__map {
		margin-top: 50px;

		@media @media1 { width: @width1; height : @width1; }
		@media @media2 { width: @width2; height : @width1; }
	}
}