.february-23 {

	@media @media1 { background : url('@{public}img/feb23-bg.480.jpg'); }
	@media @media2 { background : url('@{public}img/feb23-bg.768.jpg'); }

	background-size : 100% 100%;
	height : 340px;
	position : relative;
	&__header {
		font-weight : bold;
		font-size : 40px;
		line-height : 44px;
		padding-top : 60px;
		text-align : center;
		color : @white;
	}
	&__subheader {
		font-weight : bold;
		font-size : 20px;
		line-height : 24px;
		padding-top : 20px;
		text-align : center;
		color : @white;
	}
	&__button-wrapper {
		text-align : center;
		margin-top : 40px;
	}
	&__button {
		.btn-white();
		width: 240px;
		height: 50px;
	}
}