.flat {
	.full-width();
    overflow-x : hidden;

	&__bar {
		/* .flatbar object */
	}

	&__go-back {
		font-size : 12px;
		line-height : 12px;
		position : relative;
		position : absolute;
		left : 50px;
		top : 20px;
		max-width : 120px;

		&, &:hover, &:visited, &:active {
			text-decoration: none;
			color : #ef3e23;
		}
		&:before {
			content : url("@{public}img/go-back.png");
			position : absolute;
			left : -32px;
			top : 3px;
		}
	}

	position : relative;
	&__title {
		color : #121f37; // @color-fix
		text-align : center;
		padding-top : 90px;
		line-height : 29px;

		@media @media1 { font-size: 30px; line-height : 34px; }
		@media @media2 { font-size: 20px; font-weight : bold; }
	}

	&__go {
		width : 50%;
		height : 50px;
		display : inline-block;
		position : absolute;
		top : 82px;

		&--prev {
			background : url("@{public}img/flat-arrow-prev.png");
			background-position: left center;
			background-repeat: no-repeat;
			left : 20px;
		}
		&--next {
			background : url("@{public}img/flat-arrow-next.png");
			background-position: right center;
			background-repeat: no-repeat;
			right : 20px;
		}
	}

	&__wrapper {
		@media @media2 {
			lost-utility: clearfix;
		}
	}

	&__scheme {
		text-align : center;

		@media @media2 {
			width : 374px;
			float : left;
		}
	}

	&__table-wrapper {
		@media @media2 {
			float: left;
			width: 240px;
			margin-left: 58px;
			margin-top: 50px;
		}
	}

	&__table {

	    margin-bottom : 30px !important;
	    border-top : 2px solid #006cb7; // @color_fix

	    @media @media1 {
		    width: ~"calc(100% - 156px) !important";
		    margin-left: 78px;
		    margin-right: 78px;
	    }

		tr {
			height : 60px;
			 // @color_fix
			border-bottom : none !important;

			td {
				color : #121e35 !important; // @color_fix;
				font-size : 15px;
				line-height : 60px;
				&:first-child {
					border-bottom : 1px solid #e6e6e6; // @color_fix
					width : 240px;
					text-align : left;
				}
				&:last-child {
					text-align : right;
					font-size : 15px !important;
					font-weight: normal !important;
					border-bottom : 1px solid @white;
				}
			}

			&:last-child {

				border-bottom : none !important;

				td {
					border-bottom : none;
					table { width : 100%; margin-top :0; margin-bottom : 0;}
					table tr td:first-child {
						width : 150px;
					}
					table tr td:last-child {
						font-size : 20px !important;
						font-weight : bold !important;
						text-align : right;
					}

				}
			}
		}
		
	}

	&__btn-request {
		.btn-orange();
		height : 50px;
		line-height : 50px;
		margin : 0 auto;
		display : block;
		
		@media @media1 { width : 326px; margin-bottom : 24px; }
		@media @media2 { width : 240px; font-size: 15px; margin-bottom : 20px; }
	}
	&__btn-send {
		.btn-gray();
		height : 50px;
		line-height : 50px;
		margin : 0 auto;
		display : block;
		margin-bottom : 24px;

		@media @media1 { width : 326px; }
		@media @media2 { width : 240px; font-size: 15px; }
	}
	&__social {
		margin-bottom : 40px;
		text-align : center;

		ul {
			li {
				&:before { content : none; }
			}
		}
	}

	&__go2-menu {
		lost-utility : clearfix;
	    height : 60px;

		@media @media1 { width : @width1; }
		@media @media2 { width : @width2 }
	}

	&__back2flats {
		height : 60px;
		line-height : 60px;
		border-top : 1px solid #e6e6e6;
		text-align : center;

		a {
			color : #121f37;
			font-size : 15px;
			position : relative;
			padding-left : 25px;
			font-weight : bold;

			&, &:hover, &:visited, &:active {
				text-decoration: none;
			}
			&:before {
				content : url("@{public}img/back2flats.png");
				position : absolute;
				left : -16px;
				top : -20px;
			}
		}
	}

	&__go2 {
		height : 60px;
		font-size : 12px;
		line-height : 15px;
		padding-top : 20px;
		font-weight : bold;
		border-top : 1px solid #e6e6e6;
		display : inline-block;
		position : relative;


		@media @media1 { width : @width1/2; }
		@media @media2 { width : @width2/2; }

		&, &:hover, &:visited, &:active {
			color : #121f37;
			text-decoration: none;
		}
		&--prev {
			float : left;
			border-right : 1px solid #e6e6e6;
			text-align: right;
    		padding-right: 20px;
			@media @media1 { padding-left : 49px; }
			@media @media2 { padding-left : 69px; }

			&:before {
				position : absolute;
				top : 22px;
				content : url('@{public}img/flat-arrow-prev.png');
				width : 19px;
				height : 16px;

				@media @media1 { left : 20px; }
				@media @media2 { left : 40px; }
			}
		}
		&--next {
			float : right;
			text-align : left;
			padding-left : 20px;
			border-left : 1px solid #e6e6e6;

			@media @media1 { padding-right : 48px; }
			@media @media2 { padding-right : 68px; }

			&:after {
				margin-left : 10px;
				content : url('@{public}img/flat-arrow-next.png');
				width : 19px;
				height : 16px;

				position : absolute;
				top : 22px;
				@media @media1 { right : 20px; }
				@media @media2 { right : 40px; }

			}
		}
	}
	&__go2--prev + &__go2--next {
		border-left : none;
	}
}

.flatbar {
	position : absolute;
	top : 0;
	height : 60px;
	width : 100%;
	background : #ef3e23;
	transition : left .2s ease-in;
	left : 0;

	&--closed {
		left : 100%;
		transition : left .33s ease-in;
	}

	&__caller {
		width : 64px;
		height : 40px;
		background : url("@{public}img/filter-button-right.png");
		display : inline-block;
		position : absolute;
		top : 15px;
	    right: 100%;
	    margin-left: -1px;
	}
	&__caller-hint {
		color : #121f37;
		font-style : italic;
		font-size : 13px;
		font-weight : 100;
	    font-family: Arial;
	    position: absolute;
	    width: 100px;
	    right: 100%;
	    margin-right: 100px;
	    display: inline-block;
	    top: 22px;
	    text-align: right;

		&:after {
			background : url("@{public}img/caller-hint-arrow.png");
			content : '';
			width : 17px;
			height : 9px;
			display : inline-block;
			position : absolute;
			right : -25px;
			top : 10px;
		}
	}

	&__close {
		background : url('@{public}img/flatbar-arrow.png');
		display : inline-block;

		position : absolute;
		left: 0;
		top : 0;
		background-repeat: no-repeat;
	    height: 60px;
	    width : 60px;
	    background-position: 22px 19px;
	}

	&__divider {
		background : url('@{public}img/flatbar-divider.png');
		width : 1px;
		height : 36px;
		display : inline-block;

		position : absolute;
		top : 12px;
		left : 60px;
	}

	&__wrapper {


		margin-left : 62px;
	
		.flatbar--variant1 &, .flatbar--variant2 & {
			a { display: block; width : 100%; height : 60px; }
			lost-utility: clearfix;
		}
		.flatbar--variant3 & {
			a { display: block; width : 100%; height : 60px; 
				display : flex; flex-direction : row; justify-content : space-around;
			}
		}
	}
	&__row {
		display : inline-block;
		height : 60px;
		padding-top : 18px;
		float : right;

		// ТАК, ДЕЛАЕМ НОРМАЛЬНО БЛЯТЬ... 
		@media @media1 {
			margin-right : 26px;
			&:first-child { margin-right : 13px; }
		}
		@media @media2 {
			&--price { min-width : 74px; }
			&--rooms { min-width : 46px; }
			&--floor { min-width : 145px; }
			&--meters { min-width : 96px; }

			margin-right : 91px;
			&:first-child { margin-right : 45px; }
		}
		.flatbar--variant1 & {
			@media @media1 {
				&--price { min-width : 63px; }
				&--rooms { min-width : 40px; }
				&--floor { min-width : 124px; }
				&--meters { min-width : 82px; }
			}
		}
		.flatbar--variant2 & {
			min-width : auto !important;
		}
		.flatbar--variant3 & {
			min-width : auto !important;
			margin-right : 0;
		}
		// ВОТ ТЕПЕРЬ ОХУЕНЧИК НОМАЛЬНО


		@media @media2 {
			padding-top : 16px;
		}
	}
	&__row-wrapper {
		display : inline-block;
		text-align: left;
	}
	&__label {
		color : #6a3434;
		font-size : 10px;
		display : block;
		padding-bottom : 1px;
		@media @media2 {
			font-size : 12px;
		}
	}
	&__value {
		color : @white;
		font-size : 12px;
		font-weight : bold;
		@media @media2 {
			font-size : 14px;
		}
	}

}