.flats-choose {
	
	.full-width();

	@media @media2 {
		padding : 0;
		lost-utility : clearfix;
	}

	&__heading {
		font-weight : bold;
		color : #121f37; // @color_fix
		text-align : center;
		margin-top : 35px;

		@media @media1 { font-size: 30px; }
		@media @media2 { font-size: 20px !important; }
	}

	&__menu {

		background: #ef3e23; // @color_fix
		height: 100%;
		min-height : 550px;

		@media @media1 {
			position: absolute;
			z-index : 998;
			width: 365px;
			top : 120px;
			bottom : 0;
			right : 100%;
			left : auto;
			&--active {
				right : auto;
				left : 0;
			}
		}

		@media @media2 {
			position : relative;
			width : 276px;
			float : left;
		}
	}

	&__main {
		@media @media2 {
			width: 492px;
			float: left;
		}
	}

	&__overlay {
		position : fixed;
		z-index : -2;
		top : 0px;
		left : 0;
		right : 0;
		bottom : 0;
		background : rgba(255,255,255,.7);

		&--active {
			z-index: 997;
		}
		@media @media2 { display : none; }
	}

	&__table {
		margin-bottom : 60px;

		@media @media2 {
			margin-left : 40px;
			margin-right : 40px;
			width : ~"calc(100% - 80px) !important";
		}
	}
}

.flats-menu {
	&__title {
		color: white;
		font-weight: bold;
		padding-top: 35px;
		text-align: center;

		@media @media1 { font-size : 30px; margin-bottom : 30px; }
		@media @media2 { font-size : 20px; margin-bottom : 20px; }
	}

	&__form {
		
		@media @media1 { margin-left : 20px; margin-right : 20px; }
		@media @media2 { margin-left : 40px; margin-right : 40px; }
	}

	&__label {
		color: #67251b; // @color-fix
		font-size: 15px;
		font-weight: bold;
		display: block;
		line-height: 15px;
		padding-bottom: 15px;
		padding-top: 22px;

		@media @media2 { text-align : center; }
	}

	.simpleselect {
		position : relative;
		height : 40px;
		display : inline-block;
		vertical-align: top;

		@media @media1 { width : 325px; }
		@media @media2 { width : 196px; }

		.placeholder {
			box-sizing : border-box;
			height : 40px;
			line-height : 40px;
			font-size : 15px;
			font-weight : bold;
			padding : 0 20px;
			color : @black;

			@media @media1 { width : 325px; }
			@media @media2 { width : 196px; }

			&:after {
				content : url("@{public}img/select-arrow.png");
				text-align : center;
				width : 17px;
				height : 10px;
				background : @white;
				display : inline-block;
				position : absolute;
				top : 0;
				right : 15px;
			}
		}

		.options {
			@media @media1 { width : 325px; }
			@media @media2 { width : 196px; }
			.option {
				padding : 0 20px;
				line-height: 40px;
				cursor: pointer;
				box-sizing: border-box;
				height: 40px;
				font-size : 15px;
				font-weight : bold;
				background : @white;

				@media @media1 { width : 325px; }
				@media @media2 { width : 196px; }

				&.active {
					background: #666;
				}
			}
		}
	}

	&__button {
		.btn-white();
		height : 40px;
		line-height : 40px;
		margin-top : 40px;
		font-size : 13px;
		@media @media1 { width : 325px; }
		@media @media2 { width : 196px; }
	}

	&__clear {
		.btn-gray();
		height : 40px;
		line-height : 40px;
		margin-top : 24px;
		font-size : 13px;
		&, &:hover, &:active, &:visited {
			color : #6a3434;
			border-color : #6a3434;
		}

		@media @media1 { width : 325px; }
		@media @media2 { width : 196px; }
	}

	&__caller {
		width : 68px;
		height : 40px;
		background : url("@{public}img/filter-button.png");
		display : inline-block;
		position : absolute;
		top : 30px;
	    left: 100%;
	    margin-left: -1px;

		@media @media2 { display : none; }
	}
}