.flat-search {
	height : 220px;
	background : #d2d9e9; // @color_fix
	box-shadow: inset 0px 11px 13px #a3acc0;

	&__header {
		font-size : 30px;
		font-weight : bold;
		color : #121f37; // @color_fix
		text-align : center;
		line-height : 30px;
		padding-top: 48px;
		padding-bottom : 30px;
	}
	&__form {
		font-size : 0;
	}
	&__select-wrapper {
		position : relative;
		display : inline-block;
		vertical-align: top;
		margin-right : 20px;

		@media @media1 { width : 210px; height : 60px; margin-left : 20px; }
		@media @media2 { width : 334px; height : 50px; margin-left : 40px; }

		.placeholder {
			box-sizing : border-box;
			font-size : 20px;
			font-weight : bold;
			padding : 0 20px;
			color : @black;

			@media @media1 { width : 210px; height : 60px; line-height: 60px; }
			@media @media2 { width : 334px; height : 50px; line-height : 50px; }

			&:after {
				content : url("@{public}img/select-arrow.png");
				text-align : center;
				width : 17px;
				height : 10px;
				background : @white;
				display : inline-block;
				position : absolute;
				top : 0;
				right : 15px;
			}
		}

		.options {
			@media @media1 { width : 210px; }
			@media @media2 { width : 334px; }
			.option {
				padding : 0 20px;
				cursor: pointer;
				box-sizing: border-box;
				font-size : 20px;
				font-weight : bold;
				background : @white;

				@media @media1 { width : 210px; height: 60px; line-height: 60px; }
				@media @media2 { width : 334px; height: 50px; line-height: 50px;}

			}
		}
	}

	&__button {
		.btn-orange();
		@media @media1 { width : 210px; height: 60px; line-height: 60px; }
		@media @media2 { width : 334px; height: 50px; line-height: 50px;}
	}
}