.gallery {

	.full-width();

	&__list {
		@media @media1 {
			width : @width1;
			height : @width1;
		}
		@media @media2 {
			width : @width2;
			height : 620px;
		}

		font-size : 0;
	}
	&__image {
		@media @media1 {
		    img.small { display : block; max-height : 480px; }
		    img.large { display : none; }
		}
		@media @media2 {
		    img.small { display : none; }
		    img.large { display : block; max-height : 620px; }
		}
	}

	&__controls {
		height: 50px;
		line-height : 50px;
	    background: rgba(16, 28, 50, .8);
	    position: absolute;
	    top: 140px;
	    color: white;
	    font-size: 30px;
	    font-weight: bold;
	    text-align: center;
	    left: 10px;

		@media @media1 {
		    width: @width1 - 10px*2;
		}
		@media @media2 {
		    width: @width2 - 10px*2;
		}

	}
	&__control {
		position : absolute;
		width : 19px;
		height : 16px;
		display : inline-block;
		top : 16px;
		cursor : pointer;
		&--prev {
			left : 10px;
			content : url('@{public}img/gallery-arrow-prev.png');
		}
		&--next {
			right : 10px;
			content : url('@{public}img/gallery-arrow-next.png');
		}
	}
	&__title {}

	.slick-dots {
		padding : 0;
		bottom : 30px;
		li {
			&:before {
				content : none;
			}
		}
	}
}