.image-menu {
	padding-top : 20px;
	padding-bottom : 20px;
	background : @white;
	&__list {
		lost-utility : clearfix;
	}
	&__item {
		@media @media1 {
			margin-left: 20px;
			margin-right : 20px;
			width : 440px;
			height : 400px;
			padding-bottom : 10px;
		}
		@media @media2 {
			&:nth-child(odd) {
				margin-left: 40px;
				margin-right : 20px;
			}
			&:nth-child(even) {
				margin-left: 0;
				margin-right: 40px;
			}
			width : 334px;
			height : 300px;
			float : left;
			padding-bottom : 20px;
		}

		position : relative;
		display : block;
	}

	&__image {
		width : 100%;
		height : 100%;
		display : block;
	}
	&__text {
		position : absolute;
		text-align : center;
		color : @white;
		font-weight : bold;
		display : block;
		width : 100%;

		@media @media1 {
			bottom : 40px;
			font-size : 30px;
			line-height : 34px;
		}
		@media @media2 {
			bottom : 50px;
			font-size : 20px;
			line-height : 24px;
		}
	}
}