.main-slider {
	&__slides {}
	&__slide {
		position : relative;
		display : none;
		&:first-child {
			display : block;
		}
	}
	&__slogan {

		background : @white;
		@media @media1 { 
			width : 440px;
			left : 20px;
		}
		@media @media2 { 
			width : 525px;
			left : 122px;
		}

		&:before, &:after,
		&-angles:before, &-angles:after {
			position : absolute;
			top : 100%;
			width: 0;
			height: 0;
			border-style: solid;
			content : '';
			margin-top : -1px;
		}

		&:after {
			border-width: 0 130px 16px 0;
			border-color: transparent #f2f5f9 transparent transparent;
			left : 0;
		}
		&:before {
			border-width: 40px 60px 0 0;
			border-color: @white transparent transparent transparent;
			left : 89px;
		}

		&-angles {
			&:before {
				border-width: 0 90px 40px 0;
				border-color: transparent @white transparent transparent;
				left : 0;
			}
			&:after {
				@media @media1 {
					border-width: 16px 310px 0 0;	
				}
				@media @media2 {
					border-width : 16px 395px 0 0;
				}
				border-color: #f2f5f9 transparent transparent transparent;
				left : 129px;
			}
		}

		display : inline-block;
		position : absolute;
		top : 120px;
	}
	&__title {
		font-weight : bold;
		font-size : 40px;
		line-height : 44px;
		color : #ef3e23; // @color_fix
		padding: 30px 20px 8px 20px;
		text-align : center;
	}
	&__text {
		font-size : 20px;
		line-height : 24px;
		color : #393939; // @color_fix
		padding: 16px 60px 30px 60px;
		text-align : center;
	}
	&__picture {
		font-size : 0;
		object-fit : cover;

		&--small { img { width : 480px; height : 596px; } }
		&--large { img { width : 768px; height : 710px; } }

		@media @media1 {
			&--small { display : block; }
			&--large { display : none; }
		}
		@media @media2 {
			&--small { display : none; }
			&--large { display : block; }
		}

	}
}
.slick-dots {
    padding-left: 0;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 15px;
    list-style : none;
    @media @media1 { width : @width1; }
    @media @media2 { width : @width2; }
    
	li {
		background : rgba(255,255,255,.6);

		width : 24px;
		height : 24px;
		border-radius : 24px;
		display : inline-block;
		margin-right : 10px;
		&:last-child {
			margin-right : 0;
		}
		cursor : pointer;

		button {
			display : none;
		}
		&.slick-active {
			background : #fcaf17;
		}
	}
}