.pager {

    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
    margin: 40px 0 20px 0;

	a, span{
	    display: inline-block;
	    vertical-align: top;
	    width: 38px;
	    height: 22px;
	    margin: 0 5px;
	    border: 1px solid #ef3e23;
	    font: 12px/22px Arial, sans-serif;
	    letter-spacing: 0;
	    text-align: center;
	    color: @black;
	    border-radius: 2px;
	}

	a {
		&.active {
			background : #ef3e23;
		}
		&, &:hover, &:visited, &:active {
			text-decoration: none;
			color : @black;
		}
	}
}