.popup-send {

	&.active {
		.popup-send__overlay {
			min-height : 600px;
		}
	}
	
	&__container {
		top: 200px;
	}

	&__heading {
		height: 60px;
		font-weight: bold;
		font-size: 30px;
		color: #121e35;
		padding-left: 20px;
		line-height: 60px;
		background: #cfd7e7;

		@media @media1 { font-size: 30px; }
		@media @media2 { font-size: 20px; }
	}
	&__body {
		padding-left : 20px;
		padding-right : 20px;
	}
	&__form {}
	&__label {
		font-size : 15px;
		font-weight : bold;
		line-height : 18px;
		color : #6d727f;
		padding-top : 24px;
		padding-bottom : 6px;
		display : block;
		.required {
			color : #d23a25;
			padding-left : 6px;
		}
	}
	&__input {

		padding-left : 20px;
		padding-right : 20px;
		font-size : 20px;

		width: 400px;
	    height: 50px;
	    border-radius: 3px;
	    &, &:focus {
		    border: none;
		    outline: none;
	    }
	    box-shadow: inset 0px 1px 3px 0px rgba(10, 10, 10, 0.42);

		&--textarea {
			height : 90px;
			line-height : 30px;
		}
	}
	&__button {
		.btn-orange();
		width : 400px;
		margin-bottom : 60px;
		margin-top  : 40px;
	}
	&__close {
		position: absolute;
	    top: 22px;
	    right: 20px;
	    color: red;
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    background: url("@{public}img/popup-close.png");
	}
	&__hint {
		font-size : 15px;
		font-weight : bold;
		color : #6d727f;
		display : block;
		text-align: center;

		.star {
			color : #d23a25;
		}
	}
}