.popup-general {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;

    display : none;
    &.active {
    	display : block;
    }
}

.popup-overlay-general {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index : 9998;
    background: rgba(0,0,0,.8);  
}

.popup-container-general {
    position: absolute;
    top: 20px;
    background : #e5e9f1;
    z-index : 9999;

    @media @media1 { width : @width1 - 2*20px; left : 20px; }
    @media @media2 { width : @width2 - 2*158px; left : 158px; }
}