.timer {
    margin-bottom : -14px;
    &__el {
        display : inline-block;
        margin-right : 20px;
        &:last-child {
            margin-right : 0;
        }
    }
    &__digit {
        display : inline-block;
        border-radius : 8px;
        position : relative;
        overflow : hidden;

        &:before {
            content : '';
            background: linear-gradient(to bottom, #000000 0%,#ababab 100%);

            position : absolute;
            top : 0;
            left : 0;
            height : 50%;
            z-index : 2;
            width: 100%;
        }
        &:after {
            content : '';
            background: linear-gradient(to bottom, #ababab 0%,#000000 100%);

            position : absolute;
            bottom : 0;
            left : 0;
            height : 50%;
            z-index : 2;
            width : 100%;
        }

        &-value {
            font-family : 'Comfortaa', cursive;
            font-size : 30px;
            padding : 9px;
            color : white;
            position : absolute;
            top : 0;
            left : 0;
            right : 0;
            text-align: center;
            font-weight : bold;
            line-height : 1;
            z-index : 4;
        }
        &-border {
            width : 100%;
            height : 1px;
            background-color : fade(black, 30%);
            top : 50%;
            left : 0;
            margin-top : -1px;
            position : absolute;
            display : inline-block;
            z-index : 3;
        }

        &-bounding {
            display : block;
            visibility: hidden;
            font-family : 'Comfortaa', cursive;
            font-size : 30px;
            padding : 9px;
            font-weight : bold;
            line-height : 1;
        }

    }
    &__label {
        text-transform: lowercase;
        font-size : 12px;
        line-height : 1;
        color: black;
        font-weight : bold;
        font-family : 'Comfortaa', cursive;
    }

}