<link rel="stylesheet" href="<?= publicdir('vendor/jquery.simpleselect.min.css') ?>">
<link rel="stylesheet" href="<?= publicdir('vendor/slick/slick.css') ?>">

<link rel="stylesheet" href="<?= publicdir('css/styles.css') ?>">
<link rel="stylesheet" href="<?= publicdir('css/after.css') ?>">
