<div class="footer" id="footer">
    <div class="footer__upper">
		<div class="footer__logo-wrapper">
			<img src="<?= publicdir('img/logo.footer.png') ?>" class="footer__logo">
		</div>
		<div class="footer__phone-text">+7 (495) 135-33-65</div>
		
		<a class="footer__email" href="mailto:info@dom-souzny.ru">info@dom-souzny.ru</a>
		<div class="footer__copyright">&copy; 2014. ЖК «Союзный» Все права защищены.</div>
    </div>

    <div class="footer__full-version-link">
    	<a href="#">полная версия сайта</a>
    </div>
</div>