<div class="nav" id="nav">
	<div class="nav__list">
		<a href="#" class="nav__link">О жилом комплексе «Союзный»</a>
		<a href="#" class="nav__link">Расположение и инфраструктура</a>
		<a href="/?page=flats-choose" class="nav__link">Выбор квартиры по параметрам</a>
		<a href="/?page=gallery" class="nav__link">Фотогалерея</a>
		<a href="#" class="nav__link">О застройщике</a>
		<a href="/?page=contacts" class="nav__link">Контакты</a>
	</div>
</div>
<div class="nav__overlay"></div>
