<div class="contacts">
	<div class="contacts__title">Контакты</div>

	<div class="contacts__address-label">Наш офис продаж располагается по адресу:</div>
	<div class="contacts__address">Московская область, г. Одинцово,<br>
	ул. Маковского, д. 26 </div>

	<div class="contacts__phone-label">Телефоны офиса продаж:</div>
	<div class="contacts__phone">+7 (495) 135-45-31</div>

	<div class="contacts__email-label">Так же вы можете связаться с нами,<br>
	написав на электронную почту:</div>
	<a href="mailto:info@dom-souzny.ru" class="contacts__email">info@dom-souzny.ru</a>
	<a href="mailto:kprudnikova@dom-souzny.ru" class="contacts__email">kprudnikova@dom-souzny.ru</a>

	<div class="contacts__map" id="map"></div>
</div>



