<div class="flat">

	<a href="/?page=flats-choose" class="flat__go-back">
		Вернуться к списку квартир
	</a>

	<div class="flats__topbar flatbar flatbar--closed flatbar--variant1">
		<div class="flatbar__caller-hint">У вас применен фильтр</div>
		<a href="#" class="flatbar__caller" id="flatbar__caller"></a>

		<a href="#" class="flatbar__close" id="flatbar__close"></a>
		<div class="flatbar__divider"></div>

		<div class="flatbar__wrapper">
			<a href="/?page=flats-choose">
	
				<div class="flatbar__row flatbar__row--price">
					<div class="flatbar__row-wrapper">
						<label class="flatbar__label">Цена, руб</label>
						<span class="flatbar__value">до 5.5 млн</span>
					</div>
				</div>
				<div class="flatbar__row flatbar__row--rooms">
					<div class="flatbar__row-wrapper">
						<label class="flatbar__label">Комнат</label>
						<span class="flatbar__value">любое</span>	
					</div>
				</div>
				<div class="flatbar__row flatbar__row--floor">
					<div class="flatbar__row-wrapper">
						<label class="flatbar__label">Этаж</label>
						<span class="flatbar__value">первый</span>
					</div>
				</div>
				<div class="flatbar__row flatbar__row--metres">
					<div class="flatbar__row-wrapper">
						<label class="flatbar__label">Площадь</label>
						<span class="flatbar__value">от 50 до 60 м<sup>2</sup></span>
					</div>
				</div>
			</a>
		</div>
		
	</div>

	<div class="flat__title">Квартира 2-комнатная<br>(42,2 м<sup>2</sup>)</div>
	<a href="?1" class="flat__go flat__go--prev"></a>
	<a href="?2" class="flat__go flat__go--next"></a>

	<div class="flat__wrapper">
		<div class="flat__scheme"><img src="<?= publicdir('img/flat-plan.png') ?>"></div>

		<div class="flat__table-wrapper">
			<table class="flat__table">
				<tr>
					<td>Число комнат</td><td>1</td>
				</tr>
				<tr>
					<td>Площадь, м<sup>2</sup></td>
					<td>70,00</td>
				</tr>
				<tr>
					<td>Этаж</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Секция</td>
					<td>12</td>
				</tr>
				<tr>
					<td colspan="2">
						<table class="price-row"><tr><td colspan="2">Цена, руб.</td><td>6 017 913</td></tr></table>
					</td>
				</tr>
					</td>
				</tr>
			</table>

			<a href="#" class="flat__btn-request" id="request_btn">Заявка на просмотр</a>
			<a href="#" class="flat__btn-send" id="send_btn">Отправить на почту</a>

			<div class="flat__social"><?php include "src/views/blocks/social.phtml"; ?></div>
		</div>
	</div>

	<div class="flat__go2-menu">
		<a href="#" class="flat__go2 flat__go2--prev">1-комнатная квартира<br>(42,2 м<sup>2</sup>)</a>
		<a href="#" class="flat__go2 flat__go2--next">1-комнатная квартира<br>(72,2 м<sup>2</sup>)</a>
	</div>

	<div class="flat__back2flats">
		<a href="/?page=flats-choose">Вернуться к списку квартир</a>
	</div>

	<div class="flat__popup-request popup-request popup-general">
		<div class="popup-request__overlay popup-overlay-general"></div>
		<div class="flat__popup-request popup-request__container popup-container-general" id="popup_request">
			<div class="popup-request__heading">Заявка на просмотр<a href="#" class="popup-request__close"></a></div>
			<div class="popup-request__body">
				<form class="popup-request__form" id="form_request">
					<label class="popup-request__label" for="surname">Имя<span class="required">*</span></label>
					<input class="popup-request__input" name="surname" required>

					<label class="popup-request__label" for="phone">Телефон<span class="required">*</span></label>
					<input required class="popup-request__input" 
					placeholder="+7 (___) ___-__-__" name="phone" id="request_phone">

					<label class="popup-request__label" for="email">E-mail<span class="required">*</span></label>
					<input class="popup-request__input" name="email" type="email" required>

					<label class="popup-request__label" for="message">Сообщение</label>
					<textarea class="popup-request__input popup-request__input--textarea" name="message"></textarea>

					<p class="popup-request__hint"><span class="star">*</span> - поля, обязательные к заполнению</p>
					<input type="submit" class="popup-request__button" value="Отправить заявку">
				</form>
			</div>	
		</div>
	</div>

	<div class="flat__popup-send popup-send popup-general">
		<div class="popup-send__overlay popup-overlay-general"></div>
		<div class="flat__popup-send popup-send__container popup-container-general" id="popup_send">
			<div class="popup-send__heading">Отправить на почту<a href="#" class="popup-send__close"></a></div>
			<div class="popup-send__body">
				<form class="popup-send__form" id="form_send">
					<label class="popup-send__label" for="email">E-mail<span class="required">*</span></label>
					<input class="popup-send__input" name="email" type="email" required>

					<input type="submit" class="popup-send__button" value="Отправить">
				</form>
			</div>	
		</div>
	</div>
</div>