<h1>Акции</h1>
<h2>Спецпредложения<br>от застройщика (h2)</h2>
<div class="date">04.11.2015</div>
<p>Акции в декабре 2015<br>
Снегопад скидок на квартиры, экономия до:</p>

<div class="btn-bricks">
	<a href="#" class="btn-brick-1 left">1 комнатные<br><strong>195 756 Р</strong></a>
	<a href="#" class="btn-brick-1 right">1 комнатные<br><strong>496 995 Р</strong></a>
	<a href="#" class="btn-brick-2">3 комнатные<br><strong>1 000 000 Р</strong></a>
</div>
<p><strong>Спешите купить квартиры по выгодным ценам<br> с экономией до 1,0 млн. руб.!</strong></p>

<p>Акция действует с 04 по 31 декабря 2015 г.<br> на 1-комнатные, 2-комнатные и 3-комнатные квартиры<br>
в 1, 2 и 3 секциях жилого комплекса</p>

<p>Ознакомиться с полным перечнем квартир,<br> 
участвующих в акции, можно кликнув на<br>
интересующий блок выше.</p>
<p>Предложение ограничено.Подробности уточняйте<br>
у менеджеров по продажам.</p>

<h2>О комплексе</h2>
<p>Жилой комплекс Союзный представляет из себя<br>
8-секционный 25-этажный жилой дом со<br>
встроенно-пристроенной начальной школой. Пять<br>
жилых многоэтажных секций образуют П-образное<br>
здание. На дворовой территории будут размещены<br>
места для отдыха и спортивные площадки.<br>
Предусмотрено устройство газонов, цветников, посадка<br>
деревьев и кустарников. Планируется открытая<br>
автостоянка вместимостью 237 машиномест.</p>

<div class="simple-slider">
	<img src="<?= publicdir('img/pictures/1.jpg') ?>">
	<img src="<?= publicdir('img/pictures/2.jpg') ?>">
	<img src="<?= publicdir('img/pictures/3.jpg') ?>">
</div>

<h3>Экология г. Одинцово (h3)</h3>

<p>Расположение ЖК Союзный выделяется отличной экологией благодаря уникальным ландшафтам, 
обилию лесных массивов и отсутствию заводов. Площадь лесов вокруг Одинцово более 70 тыс. га. 
В Одинцовском районе благоустроен Мещерский парк и набережная реки Сетунь. 
Западный район Подмосковья считается наиболее чистым и экологичным местом для жизни.</p>

<h3>Инфраструктура (h3)</h3>

<p>г. Одинцово славится развитой инфраструктурой: наличием торговых центров, кинотеатров, 
ресторанов и кафе, собственного Ледового дворца и выставочного комплекса. На территории 
ЖК предусмотрено все, что нужно для комфортной жизни — паркинг, школа, ТРЦ, 
супермаркет, благоустроенные зоны отдыха.</p>

<h4>Транспортная доступность (h4)</h4>
 
<p>Наш жилой комплекс расположен на западе Московской области 
в удобной транспортной доступности от Москвы. До метро 
осуществляется автобусное сообщение: N339 (м. Парк Победы), N454 (м.Киевская), 
N461 (м. Юго- западная). Дом находится в пределах 1,5 км от ЖД-станции «Одинцово». 
Отправление с Белорусского вокзала</p>

<ul>
	<li>Жилой комплекс Союзный представляет из себя 8-секционный 25-этажный жилой дом со встроенно-пристроенной начальной школой.</li>
	<li>Пять жилых многоэтажных секций образуют П-образное здание.</li>
	<li>На дворовой территории будут размещены места для отдыха и спортивные площадки.</li>
	<li>Предусмотрено устройство газонов, цветников, посадка деревьев и кустарников.</li>
</ul>

<p>Планируется открытая автостоянка вместимостью 237 машиномест.</p>

<ol>
	<li>Расположение ЖК Союзный выделяется отличной экологией благодаря уникальным ландшафтам, обилию лесных массивов и отсутствию заводов.</li>
	<li>Площадь лесов вокруг Одинцово более 70 тыс. га.</li>
	<li>В Одинцовском районе благоустроен Мещерский парк и набережная реки Сетунь.</li>
	<li>Западный район Подмосковья считается наиболее чистым и экологичным местом для жизни.</li>
</ol>

<h2>Таблица</h2>
<table>
	<thead>
	    <tr>
	        <th>Комн.</th>
	        <th>Корпус</th>
	        <th>Этаж</th>
	        <th>Пл., м<sup>2</sup></th>
	        <th>Цена, руб</th>
	    </tr>
	</thead>
	<tbody>
	    <tr>
	        <td>1</td>
	        <td>1</td>
	        <td>12</td>
	        <td>63,7</td>
	        <td>5 855 847</td>
	    </tr>
	    <tr>
	        <td>2</td>
	        <td>1</td>
	        <td>11</td>
	        <td>63,7</td>
	        <td>5 855 847</td>
	    </tr>
	    <tr>
	        <td>3</td>
	        <td>3</td>
	        <td>5</td>
	        <td>63,7</td>
	        <td>5 855 847</td>
	    </tr>
	    <tr>
	        <td>1</td>
	        <td>3</td>
	        <td>7</td>
	        <td>63,7</td>
	        <td>5 855 847</td>
	    </tr>
	    <tr>
	        <td>2</td>
	        <td>4</td>
	        <td>8</td>
	        <td>70,0</td>
	        <td>6 017 913</td>
	    </tr>
	    <tr>
	        <td>1</td>
	        <td>3</td>
	        <td>25</td>
	        <td>70,0</td>
	        <td>5 958 330</td>
	    </tr>
	    <tr>
	        <td>1</td>
	        <td>2</td>
	        <td>11</td>
	        <td>70,0</td>
	        <td>5 958 330</td>
	    </tr>
	    <tr>
	        <td>1</td>
	        <td>2</td>
	        <td>23</td>
	        <td>70,0</td>
	        <td>6 017 913</td>
	    </tr>
	    <tr>
	        <td>1</td>
	        <td>2</td>
	        <td>12</td>
	        <td>70,0</td>
	        <td>6 017 913</td>
	    </tr>
	    <tr>
	        <td>1</td>
	        <td>1</td>
	        <td>10</td>
	        <td>70,0</td>
	        <td>5 855 847</td>
	    </tr>
	</tbody>
</table>

<h2>Кнопки</h2>

<p class="utility-text-center"><input class="btn-orange" type="button" value="Заявка на просмотр"></p>
<p class="utility-text-center"><input class="btn-gray" type="button" value="Отправить на почту"></p>
