<div class="february-23">
	<div class="february-23__header">Скидки до 1 000 000 ₽</div>
	<div class="february-23__subheader">
		При покупке 3-комнатных квартир
		<div id="countdown" class="timer" data-countdown-to="2016/03/31 23:59:00"></div>

		<div id="countdownLayout" style="display:none;">
			<div class="timer__el">
				<div class="timer__digits">
					<div class="timer__digit">
						<div class="timer__digit-value">{d10}</div>
						<div class="timer__digit-bounding">8</div>
						<div class="timer__digit-border"></div>
					</div>
					<div class="timer__digit">
						<div class="timer__digit-value">{d1}</div>
						<div class="timer__digit-bounding">8</div>
						<div class="timer__digit-border"></div>
					</div>
				</div>
				<div class="timer__label">{dl}</div>
			</div>

			<div class="timer__el">
				<div class="timer__digits">
					<div class="timer__digit">
						<div class="timer__digit-value">{h10}</div>
						<div class="timer__digit-bounding">8</div>
						<div class="timer__digit-border"></div>
					</div>
					<div class="timer__digit">
						<div class="timer__digit-value">{h1}</div>
						<div class="timer__digit-bounding">8</div>
						<div class="timer__digit-border"></div>
					</div>
				</div>
				<div class="timer__label">{hl}</div>
			</div>

			<div class="timer__el">
				<div class="timer__digits">
					<div class="timer__digit">
						<div class="timer__digit-value">{m10}</div>
						<div class="timer__digit-bounding">8</div>
						<div class="timer__digit-border"></div>
					</div>
					<div class="timer__digit">
						<div class="timer__digit-value">{m1}</div>
						<div class="timer__digit-bounding">8</div>
						<div class="timer__digit-border"></div>
					</div>
				</div>
				<div class="timer__label">{ml}</div>
			</div>

			<div class="timer__el">
				<div class="timer__digits">
					<div class="timer__digit">
						<div class="timer__digit-value">{s10}</div>
						<div class="timer__digit-bounding">8</div>
						<div class="timer__digit-border"></div>
					</div>
					<div class="timer__digit">
						<div class="timer__digit-value">{s1}</div>
						<div class="timer__digit-bounding">8</div>
						<div class="timer__digit-border"></div>
					</div>
				</div>
				<div class="timer__label">{sl}</div>
			</div>
		</div>
	</div>
	
	<div class="february-23__button-wrapper">
		<a href="#" class="february-23__button">Подробнее</a>	
	</div>
</div>