<div class="flat-search">
	<div class="flat-search__header">Поиск квартиры</div>
	<form class="flat-search__form">

		<div class="flat-search__select-wrapper">
			<select class="flat-search__select">
				<option value="0">от 5.250.000 Р</option>
				<option value="1">от 7.250.000 Р</option>
				<option value="2">от 9.250.000 Р</option>
			</select>	
		</div>

		<input type='submit' class="flat-search__button" value="Найти квартиру">
	</form>
</div>