<div class="image-menu">
	<div class="image-menu__list">
		<a href="#" class="image-menu__item">
			<img src="<?= publicdir('img/teasers/teaser-about.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">О жилом комплексе<br> «Союзный»</span>
		</a>
		<a href="#" class="image-menu__item">
			<img src="<?= publicdir('img/teasers/teaser-infrastructure.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Расположение<br> и инфраструктура</span>
		</a>
		<a href="/?page=flats-choose" class="image-menu__item">
			<img src="<?= publicdir('img/teasers/teaser-search.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Выбор квартиры<br> по параметрам</span>
		</a>
		<a href="/?page=gallery" class="image-menu__item">
			<img src="<?= publicdir('img/teasers/teaser-gallery.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Фотогалерея</span>
		</a>
		<a href="/?page=contacts" class="image-menu__item">
			<img src="<?= publicdir('img/teasers/teaser-contacts.jpg') ?>" alt="" class="image-menu__image">
			<span class="image-menu__text">Контакты</span>
		</a>

	</div>
</div>