<div class="main-slider">
	<div class="main-slider__slides">

		<div class="main-slider__slide">
			<div class="main-slider__slogan">
				<div class="main-slider__title">Квартиры в Одинцово</div>
				<div class="main-slider__text">в 7 минутах ходьбы от центральной ж/д станции!</div>	
				<div class="main-slider__slogan-angles"></div>
			</div>
			<div class="main-slider__picture main-slider__picture--small"><img src="<?= publicdir('img/main-slider/slide-01.480.jpg') ?>" alt=""></div>
			<div class="main-slider__picture main-slider__picture--large"><img src="<?= publicdir('img/main-slider/slide-01.768.jpg') ?>" alt=""></div>
		</div>

		<div class="main-slider__slide">
			<div class="main-slider__slogan">
				<div class="main-slider__title">Дом уже возведен!</div>
				<div class="main-slider__text">Успейте купить комфортное жилье, пока вас не опередили!</div>
				<div class="main-slider__slogan-angles"></div>	
			</div>
			<div class="main-slider__picture main-slider__picture--small"><img src="<?= publicdir('img/main-slider/slide-02.480.jpg') ?>" alt=""></div>
			<div class="main-slider__picture main-slider__picture--large"><img src="<?= publicdir('img/main-slider/slide-02.768.jpg') ?>" alt=""></div>
		</div>

		<div class="main-slider__slide">
			<div class="main-slider__slogan">
				<div class="main-slider__title">Военная ипотека</div>
				<div class="main-slider__text">Защитникам Отечества - особые условия покупки!</div>	
				<div class="main-slider__slogan-angles"></div>
			</div>
			<div class="main-slider__picture main-slider__picture--small"><img src="<?= publicdir('img/main-slider/slide-03.480.jpg') ?>" alt=""></div>
			<div class="main-slider__picture main-slider__picture--large"><img src="<?= publicdir('img/main-slider/slide-03.768.jpg') ?>" alt=""></div>
		</div>

		<div class="main-slider__slide">
			<div class="main-slider__slogan">
				<div class="main-slider__title">Квартиры от 3,17 млн рублей</div>
				<div class="main-slider__text">Ипотека в лучших банках России и еще 4 способа покупки квартир</div>	
				<div class="main-slider__slogan-angles"></div>
			</div>
			<div class="main-slider__picture main-slider__picture--small"><img src="<?= publicdir('img/main-slider/slide-04.480.jpg') ?>" alt=""></div>
			<div class="main-slider__picture main-slider__picture--large"><img src="<?= publicdir('img/main-slider/slide-04.768.jpg') ?>" alt=""></div>
		</div>

		<div class="main-slider__slide">
			<div class="main-slider__slogan">
				<div class="main-slider__title">Скидки до 1 млн рублей</div>
				<div class="main-slider__text">Купи 3-х комнатную квартиру и подари себе миллион!</div>	
				<div class="main-slider__slogan-angles"></div>
			</div>
			<div class="main-slider__picture main-slider__picture--small"><img src="<?= publicdir('img/main-slider/slide-05.480.jpg') ?>" alt=""></div>
			<div class="main-slider__picture main-slider__picture--large"><img src="<?= publicdir('img/main-slider/slide-05.768.jpg') ?>" alt=""></div>
		</div>
		
	</div>
</div>