<div class="flat__popup-callback popup-callback popup-general">
	<div class="popup-callback__overlay popup-overlay-general"></div>
	<div class="flat__popup-callback popup-callback__container popup-container-general" id="popup_callback">
		<div class="popup-callback__heading">Заявка на просмотр<a href="#" class="popup-callback__close"></a></div>
		<div class="popup-callback__body">
			<form class="popup-callback__form" id="form_callback">
				<label class="popup-callback__label" for="surname">Имя<span class="required">*</span></label>
				<input class="popup-callback__input" name="surname" required>

				<label class="popup-callback__label" for="phone">Телефон<span class="required">*</span></label>
				<input required class="popup-callback__input" placeholder="+7 (___) ___-__-__" name="phone" id="callback_phone">

				<p class="popup-callback__hint"><span class="star">*</span> - поля, обязательные к заполнению</p>
				<input type="submit" class="popup-callback__button" value="Отправить">
			</form>
		</div>	
	</div>
</div>