<script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
<div class="ya-share2__wrapper">
	<div class="ya-share2" data-services="facebook,twitter"></div>
	<a href="#" class="fake-ya-share2__icon"></a>
</div>